body {
	padding-top: 10px;
}


@media (max-width: 980px) {
	body {
		padding-top: 2.5px;
	}
}

.navbar{
	margin-bottom: 5px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    border-radius: 5px;
}

.carousel-control{
	border-radius: 10px;
}

#cartCount{
	vertical-align: middle;
	font-size: 0.7em;
	background-color: #336E7B;

}

.page-footer>.container-fluid{
	background-color: #000000;	
}

.footer-copyright>.container-fluid>.row{
	background-color: #E0E0EE;
}

.cartHeads{
	font-size: 0.8em;
	font-weight: bold;
}